<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    function submit_form(){
        $('form').submit();
    }
    $( document ).ready(function() {
        $('input').attr('class','form-control');
        $('#balise_du_boucle').change(function() {
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
            attrib = $('#attribut_du_boucle').val();
            balise = $('#balise_du_boucle').val();
            url = $('#url').val();
        });
      });
  </script>
  <div class="container">
    <div class="col-12 text-center">
        <h2>Webscrapping</h2>
    </div>
    <div class="row">
    <div class="col-6 text-center">
        <form action="{% url "contact" %}" method="post">
            {% csrf_token %}
            <label for="url" class="label">Url:</label>
            <input  id="url" type="text" name="url">

            <label for="balise_du_boucle" class="label">Balise du boucle:</label>
            <select id="balise_du_boucle" class="form-control" type="text" name="balise_du_boucle">
                <option value="">Choisir</option>
                <option value="div">div</option>
                <option value="li">li</option>
                <option value="article">article</option>
            </select>

            <label for="attribut_du_boucle" class="attribut_du_boucle">Attribut du boucle:</label>
            <select class="form-control" id="attribut_du_boucle" type="text" name="attribut_du_boucle">
                <option value="">Choisir</option>
                <option value="id">id</option>
                <option value="class">class</option>
            </select>

            <label for="valeur_attribut_du_boucle" class="label">Valeur attribut du boucle:</label>
            <input id="valeur_attribut_du_boucle" type="text" name="valeur_attribut_du_boucle">

            <label for="balise_titre" class="balise_titre">Balise titre:</label>
            <select class="form-control" id="balise_titre" type="text" name="balise_titre">
                <option value="">Choisir</option>
                <option value="h1">h1</option>
                <option value="h2">h2</option>
                <option value="h3">h3</option>
                <option value="h4">h4</option>
                <option value="span">span</option>
                <option value="div">div</option>
            </select>

            <label for="attr_tittle" class="balise_date">Attribut du titre</label>
            <select class="form-control" id="attr_tittle" type="text" name="attr_tittle">

                    <option value="">Choisir</option>
                    <option value="class">class</option>
                    <option value="id">id</option>
                    
            </select>

            <label for="value_attr_titre" class="label">Valeur attribut du titre:</label>
            <input id="value_attr_titre" type="text" name="value_attr_titre">

            <label for="balise_date" class="balise_date">balise de la date</label>
            <select class="form-control" id="balise_date" type="text" name="balise_date">

                    <option value="">Choisir</option>
                    <option value="h1">h1</option>
                    <option value="p">p</option>
                    <option value="span">span</option>
                    <option value="div">div</option>

            </select>

            <label for="attr_date" class="balise_date">Attribut de la date</label>
            <select class="form-control" id="attr_date" type="text" name="attr_date">

                    <option value="">Choisir</option>
                    <option value="class">class</option>
                    <option value="id">id</option>
                    
            </select>

            <label for="value_attr_date" class="label">Valeur attribut de la date:</label>
            <input id="value_attr_date" type="text" name="value_attr_date">

            <label for="option_date" class="label">Type de date</label>
            <select class="form-control" id="option_date" type="text" name="option_date">
                <option value="">Choisir</option>
                <option value="1">1 bloc</option>
                <option value="2">plusieurs blocs</option>
            </select>
            
        </div>

        <div class="col-6">
            <label for="balise_fille_du_titre" class="label">Balise fille du titre</label>
            <select class="form-control" id="balise_fille_du_titre" type="text" name="balise_fille_du_titre">
                    <option value="">Choisir</option>
                    <option value="a">a</option>
                    <option value="span">span</option>
                    <option value="div">div</option>
            </select>

            <label for="balise_description" class="balise_description">balise de la description</label>
            <select class="form-control" id="balise_description" type="text" name="balise_description">
                    <option value="">Choisir</option>
                    <option value="p">p</option>
                    <option value="span">span</option>
                    <option value="div">div</option>
            </select>

            <label for="attr_description" class="balise_description">Attribut de la description</label>
            <select class="form-control" id="attr_description" type="text" name="attr_desc">
                    <option value="">Choisir</option>
                    <option value="class">class</option>
                    <option value="id">id</option>
            </select>

            <label for="value_attr_desc" class="label">Valeur attribut du description:</label>
            <input id="value_attr_desc" type="text" name="value_attr_desc">

            <label for="balise_de_la_categorie" class="label">balise de la categorie</label>
            <select class="form-control" id="balise_de_la_categorie" type="text" name="balise_de_la_categorie">
                    <option value="">Choisir</option>
                    <option value="h1">h1</option>
                    <option value="h2">h2</option>
                    <option value="h3">h3</option>
                    <option value="h4">h4</option>
                    <option value="span">span</option>
                    <option value="div">div</option>
                </select>

            <label for="attribut_de_la_categorie" class="label">attribut de la categorie</label>
            <select class="form-control" id="attribut_de_la_categorie" type="text" name="attribut_de_la_categorie">
                    <option value="">Choisir</option>
                    <option value="id">id</option>
                    <option value="class">class</option>
            </select>

            <label for="valeur_attribut_categorie" class="label">valeur attribut categorie</label>
            <input id="valeur_attribut_categorie" type="text" name="valeur_attribut_categorie">


            <label for="format_date" class="label">Format date</label>
            <select class="form-control" id="format_date" type="text" name="format_date">
                    <option value="">Choisir</option>
                    <option value="ymd_full">y-m-d full</option>
                    <option value="ymd_short">y-m-d short</option>
                    <option value="texte">texte</option>
            </select>

            <label for="ordre_date" class="label">ordre date</label>
            <select class="form-control" id="ordre_date" type="text" name="ordre_date">
                    <option value="">Choisir</option>
                    <option value="j_m_a">jour/mois/année</option>
                    <option value="m_j_a">mois/jour/année</option>
                    <option value="a_j_m">année/jour/mois</option>
            </select>

            <label for="splitby" class="label">separation entre y-m-d</label>
            <input id="splitby" type="text" name="splitby">

        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
            <input onclick="submit_form()" type="submit" value="Valider" />
    </div>
</div>
</div>